# Functioning on Data

In [8]:
import pandas as pd

In [9]:
l1=['a','e','i','o','u']
s=pd.Series(l1)
print(s)

0    a
1    e
2    i
3    o
4    u
dtype: object

In [10]:
#values passed for values are integers thus data type is int64
d1={'A':12,'B':34,'C':78}
s=pd.Series(d1)
print(s)

A    12
B    34
C    78
dtype: int64

In [11]:
import numpy as np
import pandas as pd
arr=np.array(['a','e','i','o','u'])
s=pd.Series(arr)
print(arr)
print(s[3])
print(s[:2])
print(s)

['a' 'e' 'i' 'o' 'u']
o
0    a
1    e
dtype: object
0    a
1    e
2    i
3    o
4    u
dtype: object

In [12]:
arr=np.array(['a','e','i','o','u'])
s=pd.Series(arr,index=[1,2,3,4,5])
print(s)

1    a
2    e
3    i
4    o
5    u
dtype: object

In [13]:
l1=[1,2,3,4]
l2=[5,6,7,8]
data=pd.Series(l1)
data1=pd.Series(l2)
a=data.add(data1, fill_value=0)
b=data.sub(data1, fill_value=0)
c=data.mul(data1, fill_value=0)
d=data.div(data1, fill_value=0)
e=data.sum(data1, fill_value=0)
f=data.prod(data1, fill_value=0)
g=data.pow(data1, fill_value=0)
h=data.abs(data1, fill_value=0)
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

TypeError: sum() got an unexpected keyword argument 'fill_value'

In [14]:
df=pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')
s=pd.Series(df['a'])
data=s.head(3)

KeyError: 'a'

In [ ]:
data[2:4]

In [15]:
data.iloc[2:4]

2    3
3    4
dtype: int64

In [16]:
l1=['a','e','i','o','u']
s=pd.DataFrame(l1)
print(s)

   0
0  a
1  e
2  i
3  o
4  u

In [18]:
d1={'A':12,'B':34,'C':78}
df=pd.DataFrame(d1)
df

ValueError: If using all scalar values, you must pass an index

In [9]:
arr=np.array(['a','e','i','o','u'])
s=pd.DataFrame(arr)
print(arr)
print(s)

['a' 'e' 'i' 'o' 'u']
   0
0  a
1  e
2  i
3  o
4  u

In [6]:
df=pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [13]:
df=pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head(3)

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi

In [15]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [16]:
df['col2'].nunique()

3

In [17]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

# Selecting Data

In [18]:
newdf=df[(df['col1']>2) & (df['col2']==444)]

In [19]:
newdf

   col1  col2 col3
3     4   444  xyz

# Applying Functions

In [20]:
def times2(x):
    return x*2

In [21]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [23]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [24]:
df['col1'].sum()

10

# Permanently removing a column

In [26]:
del df['col1']
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

# Get column and index names

In [28]:
df.columns

Index(['col2', 'col3'], dtype='object')

# Sorting and ordering a data frame

In [29]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [31]:
df.sort_values(by='col2') #inplace=False by default that means manipulation will be on a copy and not on original data

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi

# Find null values or check for them

In [32]:
df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

# Filling in NaN values with something else

In [33]:
df=pd.DataFrame({'col1':[1,2,3,np.nan],'col2':[np.nan,55,666,444],'col3':['abc','def','ghi','xyz']})

In [35]:
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0   55.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [34]:
df.fillna('FILL')

   col1   col2 col3
0   1.0   FILL  abc
1   2.0   55.0  def
2   3.0  666.0  ghi
3  FILL  444.0  xyz

In [38]:
data={'A':['foo','foo','foo','bar','bar','bar'],'B':['one','one','two','two','one','one'],'C':['x','y','x','y','x','y'],'D':[1,2,3,4,5,6]}

In [39]:
df=pd.DataFrame(data)

In [40]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  2
2  foo  two  x  3
3  bar  two  y  4
4  bar  one  x  5
5  bar  one  y  6

# Data input and output

In [42]:
import pandas as pd
import numpy as np

In [44]:
df=pd.read_csv('example')
df

FileNotFoundError: [Errno 2] No such file or directory: 'example'

In [45]:
df.to_csv('exmaple',index=False)

In [48]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

    a   b   c   d
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

In [49]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Worksheet')

# HTML

In [ ]:
conda install lxml
conda install html5lib
conda install BeautifulSoup4