In [1]:
T1=("ABC",8.99,2)
T2="ABC",8.99,2

print(T1)
print(type(T1))
print(len(T1))
print(T2)
print(type(T2))
print(len(T2))

('ABC', 8.99, 2)
<class 'tuple'>
3
('ABC', 8.99, 2)
<class 'tuple'>
3

In [7]:
T1=("Anna",2.9,5)
T2=(4,"Mia",5.5)
print(T1+T2)
print(T1+T1)

('Anna', 2.9, 5, 4, 'Mia', 5.5)
('Anna', 2.9, 5, 'Anna', 2.9, 5)

In [8]:
T1=(4,"Mia",5.5)
print(T1*3)

(4, 'Mia', 5.5, 4, 'Mia', 5.5, 4, 'Mia', 5.5)

In [9]:
T1=("Anna",2.9,5)
print(2.9 in T1)
print(2 in T1)

True
False

In [10]:
T1=("Anna",2.9,5)
print(2.9 not in T1)
print(2 not in T1)

False
True

In [12]:
T1=("Ash",2.9,5)
for i in T1:
    print(i,end=" ")

Ash 2.9 5

In [16]:
T1=()
T2=(9,)
T3=(4)
print(T1)
print(type(T1))
print(T2)
print(type(T2))
print(T3)
print(type(T3))

()
<class 'tuple'>
(9,)
<class 'tuple'>
4
<class 'int'>

In [20]:
T1=("Anna",2.9,5)
del T1
print(T1)

NameError: name 'T1' is not defined

In [22]:
T1=("Anna",2.9,5)
T1.pop(0)
print(T1)

AttributeError: 'tuple' object has no attribute 'pop'

In [25]:
T1=("Apple","Orange")
x=list(T1)
x.append("Mango")
T1=tuple(x)
print(T1)

('Apple', 'Orange', 'Mango')

In [29]:
T1=("Apple","Orange")
T2=("Anna",2.9,5)
T3=(T1+T2)
print(T3)

('Apple', 'Orange', 'Anna', 2.9, 5)